.heroChild {
    position: absolute;
    top: 0px;
    left: 0px;
    background: linear-gradient(90deg, #000 67.61%, rgba(102, 102, 102, 0));
    width: 1920px;
    height: 1080px;
    display: none;
}
.framerTheWebBuilderForSIcon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 1080px;
    object-fit: cover;
    display: none;
}
.ravenAwwwardsHonorableMentiIcon {
    position: absolute;
    top: 176px;
    left: 1023px;
    width: 1472.7px;
    height: 941px;
    object-fit: cover;
}
.theInnovationHubFor {
    margin: 0;
}
.theInnovationHubForContainer {
    position: absolute;
    top: 330.89px;
    left: 101px;
    line-height: 0%;
    text-transform: uppercase;
    font-family: TacticSans-Blk;
    color: #eaeaea;
}
.empoweringStudentsAndContainer {
    position: absolute;
    top: 663.27px;
    left: 101px;
    font-size: 36.85px;
    line-height: 140%;
    color: #dadada;
}
.theResearchAnd {
    position: absolute;
    top: 256px;
    left: 101px;
    font-size: 35.1px;
    line-height: 140%;
    background: linear-gradient(90deg, #48e9f8 0.5%, #fff 77.5%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.watchVideo1 {
    position: absolute;
    top: 0px;
    left: 62.42px;
    line-height: 140%;
}
.watchVideoChild {
    position: absolute;
    top: 1.49px;
    left: 0px;
    width: 50.5px;
    height: 50.5px;
}
.watchVideo {
    position: absolute;
    top: 864.89px;
    left: 424.86px;
    width: 295.4px;
    height: 52px;
    font-size: 37.15px;
}
.creativeColorBrushstrokeLet {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 86px;
    height: 86px;
    object-fit: cover;
}
.vikasana {
    position: absolute;
    top: 13px;
    left: 86px;
    line-height: 140%;
}
.creativeColorBrushstrokeLetParent {
    position: absolute;
    top: 60px;
    left: 101px;
    width: 345px;
    height: 86px;
    font-size: 43.39px;
    font-family: TacticSans-Blk;
}
.spread {
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 0px 0px 0px #7ae0f5, 0px 0px 0px #7ae0f5, 0px 0px 0px #7ae0f5, 0px 0px 0px #7ae0f5, 0px 0px 0px #7ae0f5, 0px 0px 0px #7ae0f5, 0px 0px 0px #7ae0f5, 0px 0px 0px #7ae0f5;
    border-radius: 15px;
    background-color: #fff;
    width: 193px;
    height: 62px;
}
.intensity {
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 0px 0px 8.5px rgba(85, 129, 207, 0.12), 0px 0px 8.5px rgba(85, 129, 207, 0.12), 0px 0px 8.5px rgba(85, 129, 207, 0.12), 0px 0px 8.5px rgba(85, 129, 207, 0.12), 0px 0px 8.5px rgba(85, 129, 207, 0.12), 0px 0px 8.5px rgba(85, 129, 207, 0.12), 0px 0px 8.5px rgba(85, 129, 207, 0.12), 0px 0px 8.5px rgba(85, 129, 207, 0.12);
    border-radius: 15px;
    background-color: #fff;
    width: 193px;
    height: 62px;
}
.original {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 15px;
    background-color: #fff;
    width: 193px;
    height: 62px;
}
.neonizeGroup {
    position: absolute;
    top: 0px;
    left: 772px;
    width: 193px;
    height: 62px;
}
.home {
    position: absolute;
    top: 10px;
    left: 0px;
    line-height: 140%;
}
.about {
    position: absolute;
    top: 10px;
    left: 143px;
    line-height: 140%;
}
.projects {
    position: absolute;
    top: 10px;
    left: 288px;
    line-height: 140%;
}
.team {
    position: absolute;
    top: 10px;
    left: 465px;
    line-height: 140%;
}
.contact {
    position: absolute;
    top: 10px;
    left: 602px;
    line-height: 140%;
}
.register {
    position: absolute;
    top: 10px;
    left: 807px;
    line-height: 140%;
    color: #060606;
}
.hehe {
    position: absolute;
    top: 60px;
    left: 853px;
    width: 965px;
    height: 62px;
    font-size: 30px;
}
.spread1 {
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 0px 0px 0px #7ae0f5, 0px 0px 0px #7ae0f5, 0px 0px 0px #7ae0f5, 0px 0px 0px #7ae0f5, 0px 0px 0px #7ae0f5, 0px 0px 0px #7ae0f5, 0px 0px 0px #7ae0f5, 0px 0px 0px #7ae0f5;
    border-radius: 16.75px;
    background: linear-gradient(90deg, #7ae0f5, #85bbf6 28.4%, #8c9ff7 50%, #9f5efa);
    width: 281.4px;
    height: 78.2px;
}
.intensity1 {
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 0px 0px 9.49px rgba(85, 129, 207, 0.12), 0px 0px 9.49px rgba(85, 129, 207, 0.12), 0px 0px 9.49px rgba(85, 129, 207, 0.12), 0px 0px 9.49px rgba(85, 129, 207, 0.12), 0px 0px 9.49px rgba(85, 129, 207, 0.12), 0px 0px 9.49px rgba(85, 129, 207, 0.12), 0px 0px 9.49px rgba(85, 129, 207, 0.12), 0px 0px 9.49px rgba(85, 129, 207, 0.12);
    border-radius: 16.75px;
    background: linear-gradient(90deg, #7ae0f5, #85bbf6 28.4%, #8c9ff7 50%, #9f5efa);
    width: 281.4px;
    height: 78.2px;
}
.original1 {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 16.75px;
    background: linear-gradient(90deg, #7ae0f5, #85bbf6 28.4%, #8c9ff7 50%, #9f5efa);
    width: 281.4px;
    height: 78.2px;
}
.neonizeGroup1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 281.4px;
    height: 78.2px;
}
.contactUs {
    position: absolute;
    top: 20.1px;
    left: 62.54px;
    line-height: 140%;
}
.component1 {
    position: absolute;
    top: 852px;
    left: 101px;
    width: 281.4px;
    height: 78.2px;
    text-align: center;
    font-size: 27.92px;
}
.heroItem {
    position: absolute;
    top: 966px;
    left: 0px;
    background: linear-gradient(27.07deg, #000, rgba(0, 0, 0, 0));
    width: 2010px;
    height: 114px;
}
.hero {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #000;
    width: 1920px;
    height: 1080px;
    overflow: hidden;
}
.aboutVikasanaChild {
    width: 1920px;
    position: absolute;
    margin: 0 !important;
    top: 0px;
    left: 0px;
    background: linear-gradient(90deg, #000 67.61%, rgba(102, 102, 102, 0));
    height: 1080px;
    display: none;
    z-index: 0;
}
.framerTheWebBuilderForSIcon1 {
    width: 1920px;
    position: absolute;
    margin: 0 !important;
    top: 0px;
    left: 0px;
    height: 1080px;
    object-fit: cover;
    display: none;
    z-index: 1;
}
.vikasana1 {
    position: relative;
    line-height: 103%;
    text-transform: uppercase;
    font-family: TacticSans-Blk;
    transform:  rotate(-8.1deg);
    opacity: 0.04;
    z-index: 2;
}
.vikasana2 {
    position: relative;
    line-height: 103%;
    text-transform: uppercase;
    font-family: TacticSans-Blk;
    transform:  rotate(-8.1deg);
    opacity: 0.04;
    z-index: 3;
}
.vikasana3 {
    position: relative;
    line-height: 103%;
    text-transform: uppercase;
    font-family: TacticSans-Blk;
    transform:  rotate(-8.1deg);
    opacity: 0.04;
    z-index: 4;
}
.aboutVikasanaItem {
    width: 149px;
    position: absolute;
    margin: 0 !important;
    top: 865px;
    left: 71px;
    height: 154.9px;
    object-fit: cover;
    z-index: 5;
}
.vikasana4 {
    background: linear-gradient(90deg, #9f5efa, #fff 30.5%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.curiosity {
    font-family: 'Altone Trial';
}
.intoCreation {
    background: linear-gradient(90deg, #fff, #7ae0f5 98%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.vikasanaWeConvertCuriosityContainer {
    position: absolute;
    margin: 0 !important;
    top: 33px;
    left: 71px;
    font-size: 151.19px;
    line-height: 112%;
    display: none;
    z-index: 6;
}
.mission1 {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 140%;
}
.officeIpsumYou {
    position: absolute;
    top: 99px;
    left: 0px;
    font-size: 35px;
    line-height: 100%;
    color: #ddd;
    display: inline-block;
    width: 556px;
}
.mission {
    width: 556px;
    position: absolute;
    margin: 0 !important;
    top: 591px;
    left: 1228px;
    height: 274px;
    z-index: 7;
    font-size: 40px;
    color: #dcdcdc;
}
.officeIpsumYou1 {
    position: absolute;
    top: 99px;
    left: 0px;
    font-size: 35px;
    line-height: 100%;
    color: #ddd;
    display: inline-block;
    width: 537px;
}
.vision {
    width: 537px;
    position: absolute;
    margin: 0 !important;
    top: 591px;
    left: 548px;
    height: 274px;
    z-index: 8;
    font-size: 40px;
    color: #dcdcdc;
}
.where {
    color: #fff;
}
.curiosity1 {
    background: linear-gradient(90deg, #7ae0f5, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.whereCuriosityMeetsContainer {
    width: 1769px;
    position: absolute;
    margin: 0 !important;
    top: 158px;
    left: 76px;
    font-size: 168.21px;
    line-height: 103%;
    text-transform: uppercase;
    font-family: TacticSans-Blk;
    display: none;
    text-shadow: 2.1px 0 0 #48e9f8, 0 2.1px 0 #48e9f8, -2.1px 0 0 #48e9f8, 0 -2.1px 0 #48e9f8;
    z-index: 9;
}
.aResearchAnd {
    width: 1325px;
    position: absolute;
    margin: 0 !important;
    top: 78px;
    left: 298px;
    font-size: 50px;
    letter-spacing: 0.25em;
    line-height: 140%;
    text-transform: uppercase;
    display: inline-block;
    background: linear-gradient(270deg, #5f5f5f, #c5c5c5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 10;
}
.formedAtPresidency {
    width: 444px;
    position: absolute;
    margin: 0 !important;
    top: 981px;
    left: 1228px;
    font-size: 27.92px;
    line-height: 140%;
    color: #ddd;
    display: inline-block;
    z-index: 11;
}
.incubatedAtPresidency {
    width: 506px;
    position: absolute;
    margin: 0 !important;
    top: 981px;
    left: 548px;
    font-size: 27.92px;
    line-height: 140%;
    color: #ddd;
    display: inline-block;
    z-index: 12;
}
.whereCuriosityMeetsContainer1 {
    position: absolute;
    width: 100%;
    top: 0%;
    left: 0%;
    line-height: 103%;
    text-transform: uppercase;
    display: inline-block;
    text-shadow: 2.1px 0 0 #48e9f8, 0 2.1px 0 #48e9f8, -2.1px 0 0 #48e9f8, 0 -2.1px 0 #48e9f8;
}
.whereCuriosityMeetsCreation {
    width: 1769px;
    position: absolute;
    margin: 0 !important;
    top: 158px;
    left: 71px;
    height: 346px;
    z-index: 13;
    font-size: 168.21px;
    font-family: TacticSans-Blk;
}
.aboutVikasana {
    position: absolute;
    top: 1080px;
    left: 0px;
    background-color: #000;
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 400px;
}
.heroParent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 2160px;
}
.index1 {
    align-self: stretch;
    position: relative;
    height: 2160px;
    flex-shrink: 0;
    font-size: 88.68px;
}
.ourPortfolio {
    position: absolute;
    top: 102px;
    left: calc(50% - 428px);
    font-size: 96px;
    line-height: 140%;
    text-transform: uppercase;
    font-family: TacticSans-Blk;
    color: rgba(255, 255, 255, 0.8);
}
.groupChild {
    position: absolute;
    top: 0px;
    left: 497px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    width: 482px;
    height: 318px;
    overflow: hidden;
}
.groupItem {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    width: 482px;
    height: 318px;
    overflow: hidden;
}
.frameParent {
    width: 979px;
    position: relative;
    height: 318px;
    flex-shrink: 0;
}
.groupParent {
    position: absolute;
    top: 679px;
    left: -19px;
    width: 1939px;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
}
.ourEvents {
    position: absolute;
    top: 0px;
    left: 16px;
    letter-spacing: -0.02em;
    font-weight: 500;
}
.witnessSomeOfContainer {
    position: absolute;
    top: 92px;
    left: 0px;
    font-size: 36px;
    letter-spacing: -0.02em;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.3);
    display: inline-block;
    width: 494px;
}
.ourEventsParent {
    position: absolute;
    top: 381px;
    left: 45px;
    width: 494px;
    height: 180px;
}
.groupDiv {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 979px;
    height: 318px;
}
.frameParent1 {
    position: absolute;
    top: 0px;
    left: 1002px;
    width: 979px;
    height: 318px;
}
.groupContainer {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1981px;
    height: 318px;
}
.portfolioInner {
    position: absolute;
    top: 322px;
    left: 588px;
    width: 1332px;
    height: 318px;
    overflow-x: auto;
}
.ourProjectsParent {
    position: absolute;
    top: 1083px;
    left: 1388px;
    width: 494px;
    height: 224px;
}
.portfolioItem {
    position: absolute;
    top: 323px;
    left: 532px;
    filter: blur(20px);
    border-right: 7px solid #fff;
    box-sizing: border-box;
    width: 14px;
    height: 324px;
}
.lineDiv {
    position: absolute;
    top: 1029px;
    left: 1311px;
    filter: blur(20px);
    border-right: 7px solid #fff;
    box-sizing: border-box;
    width: 14px;
    height: 324px;
}
.portfolioInner1 {
    position: absolute;
    top: 1029.3px;
    left: 1.55px;
    width: 1271px;
    height: 318px;
    overflow-x: auto;
}
.portfolio {
    align-self: stretch;
    position: relative;
    background-color: #000;
    height: 1386px;
    overflow: hidden;
    flex-shrink: 0;
    font-family: Inter;
}
.socialMedia1 {
    position: relative;
    line-height: 140%;
    text-transform: uppercase;
    z-index: 2;
}
.checkOutOurContainer {
    position: relative;
    font-size: 35px;
    line-height: 140%;
    color: #afafaf;
    text-align: center;
    z-index: 3;
    font-family: 'Altone Trial';
}
.rectangleIcon {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 20.69px;
    width: 852.6px;
    height: 658.9px;
    object-fit: cover;
}
.rectangleDiv {
    position: absolute;
    top: 0px;
    left: 1299.9px;
    border-radius: 20.69px;
    background-color: #323232;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    width: 419.7px;
    height: 327.8px;
}
.socialIcons {
    position: absolute;
    top: 114px;
    left: 1460px;
    width: 100px;
    height: 100px;
    overflow: hidden;
}
.groupChild11 {
    position: absolute;
    top: 0px;
    left: 869.17px;
    border-radius: 20.69px;
    background-color: #141414;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    width: 414.7px;
    height: 327.8px;
}
.groupChild12 {
    position: absolute;
    top: 659px;
    left: 1714px;
    border-radius: 20.69px;
    background-color: #292828;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    width: 845px;
    height: 315px;
    transform:  rotate(180deg);
    transform-origin: 0 0;
}
.ourRecentBlogs {
    position: absolute;
    top: 481px;
    left: 1149px;
    line-height: 140%;
}
.vikasana6 {
    position: absolute;
    top: 214px;
    left: 1005px;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.2);
}
.vikasana7 {
    position: absolute;
    top: 214px;
    left: 1431px;
    line-height: 140%;
    display: inline-block;
    width: 157px;
    height: 42px;
}
.rectangleParent {
    width: 1719.6px;
    position: relative;
    height: 659px;
    z-index: 4;
    font-size: 30px;
    font-family: 'Altone Trial';
}
.instaIcon {
    width: 855px;
    position: relative;
    height: 553px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
    display: none;
    z-index: 5;
}
.socialMediaItem {
    width: 320px;
    position: absolute;
    margin: 0 !important;
    top: 418px;
    left: 983px;
    height: 250px;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
    z-index: 6;
}
.socialMediaInner {
    width: 337px;
    position: absolute;
    margin: 0 !important;
    top: 418px;
    left: 1385px;
    height: 250px;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
    z-index: 7;
}
.newspaperVariantMultipleOutIcon {
    position: absolute;
    top: 67px;
    left: 223px;
    width: 120px;
    height: 120px;
    overflow: hidden;
}
.blogs {
    position: absolute;
    top: 99px;
    left: 372px;
    line-height: 140%;
    text-transform: uppercase;
}
.newspaperVariantMultipleOutParent {
    width: 743px;
    position: absolute;
    margin: 0 !important;
    top: 717px;
    left: 979px;
    background-color: #fff;
    height: 254px;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
    z-index: 8;
    font-size: 40px;
    color: #000;
}
.linkedinIcon {
    width: 100px;
    position: absolute;
    margin: 0 !important;
    top: 456px;
    left: 1129px;
    height: 100px;
    overflow: hidden;
    flex-shrink: 0;
    z-index: 9;
}
.socialMedia {
    align-self: stretch;
    background-color: #000;
    height: 1080px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 79px 98px;
    box-sizing: border-box;
    position: relative;
    font-size: 75px;
    font-family: TacticSans-Blk;
}
.ourDivisions {
    position: absolute;
    top: 0px;
    left: 94px;
    line-height: 140%;
    text-transform: uppercase;
}
.dividedByTeamsContainer {
    position: absolute;
    top: 67px;
    left: calc(50% - 299px);
    font-size: 32px;
    line-height: 140%;
    text-transform: capitalize;
    font-family: 'Altone Trial';
    color: #afafaf;
    text-align: center;
}
.ourDivisionsParent {
    width: 598px;
    position: relative;
    height: 157px;
    z-index: 2;
}
.divisionsIcon {
    width: 425px;
    position: relative;
    border-radius: 20px;
    height: 516px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
}
.divisionsParent {
    width: 1819px;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 87px;
    z-index: 3;
}
.divisions {
    align-self: stretch;
    background-color: #000;
    height: 1080px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 79px 0px;
    box-sizing: border-box;
    position: relative;
    gap: 99px;
    font-family: TacticSans-Blk;
}
.gangMembersChild {
    width: 1920px;
    position: relative;
    background: linear-gradient(90deg, #000 67.61%, rgba(102, 102, 102, 0));
    height: 1080px;
    display: none;
}
.theGangMembers {
    position: absolute;
    top: 0px;
    left: calc(50% - 556px);
    line-height: 140%;
    text-transform: uppercase;
    font-family: TacticSans-Blk;
    background: linear-gradient(19.38deg, #9f5efa, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.theMindsThat {
    position: absolute;
    top: 118px;
    left: 338px;
    font-size: 48px;
    line-height: 140%;
    text-transform: capitalize;
}
.spread2 {
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 0px 0px 0px #7ae0f5, 0px 0px 0px #7ae0f5, 0px 0px 0px #7ae0f5, 0px 0px 0px #7ae0f5, 0px 0px 0px #7ae0f5, 0px 0px 0px #7ae0f5, 0px 0px 0px #7ae0f5, 0px 0px 0px #7ae0f5;
    border-radius: 15px;
    border: 1px solid #fff;
    box-sizing: border-box;
    width: 193px;
    height: 62px;
}
.intensity2 {
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 0px 0px 8.5px rgba(85, 129, 207, 0.12), 0px 0px 8.5px rgba(85, 129, 207, 0.12), 0px 0px 8.5px rgba(85, 129, 207, 0.12), 0px 0px 8.5px rgba(85, 129, 207, 0.12), 0px 0px 8.5px rgba(85, 129, 207, 0.12), 0px 0px 8.5px rgba(85, 129, 207, 0.12), 0px 0px 8.5px rgba(85, 129, 207, 0.12), 0px 0px 8.5px rgba(85, 129, 207, 0.12);
    border-radius: 15px;
    border: 1px solid #fff;
    box-sizing: border-box;
    width: 193px;
    height: 62px;
}
.original2 {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 15px;
    border: 1px solid #fff;
    box-sizing: border-box;
    width: 193px;
    height: 62px;
}
.neonizeGroup2 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 193px;
    height: 62px;
}
.onyx {
    position: absolute;
    top: 10px;
    left: calc(50% - 18.5px);
    line-height: 140%;
    text-transform: capitalize;
}
.component12 {
    width: 193px;
    position: relative;
    height: 62px;
}
.onyx1 {
    position: absolute;
    top: 10px;
    left: calc(50% - 37.5px);
    line-height: 140%;
    text-transform: capitalize;
}
.onyx2 {
    position: absolute;
    top: 10px;
    left: calc(50% - 56.5px);
    line-height: 140%;
    text-transform: capitalize;
}
.onyx3 {
    position: absolute;
    top: 10px;
    left: calc(50% - 74.5px);
    line-height: 140%;
    text-transform: capitalize;
}
.onyx4 {
    position: absolute;
    top: 10px;
    left: calc(50% - 65.5px);
    line-height: 140%;
    text-transform: capitalize;
}
.onyx5 {
    position: absolute;
    top: 10px;
    left: calc(50% - 67.5px);
    line-height: 140%;
    text-transform: capitalize;
}
.onyx6 {
    position: absolute;
    top: 10px;
    left: calc(50% - 70.5px);
    line-height: 140%;
    text-transform: capitalize;
}
.onyx7 {
    position: absolute;
    top: 10px;
    left: calc(50% - 54.5px);
    line-height: 140%;
    text-transform: capitalize;
}
.component12Parent {
    position: absolute;
    top: 229px;
    left: calc(50% - 861px);
    width: 1717px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-size: 30px;
    color: #9f5efa;
}
.component20Icon {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 20px;
    width: 300px;
    height: 300px;
    overflow: hidden;
    object-fit: cover;
}
.component21Icon {
    position: absolute;
    top: 0px;
    left: 352px;
    border-radius: 20px;
    width: 300px;
    height: 300px;
    overflow: hidden;
    object-fit: cover;
}
.component22Icon {
    position: absolute;
    top: 0px;
    left: 704px;
    border-radius: 20px;
    width: 300px;
    height: 300px;
    overflow: hidden;
    object-fit: cover;
}
.component23Icon {
    position: absolute;
    top: 0px;
    left: 1056px;
    border-radius: 20px;
    width: 300px;
    height: 300px;
    overflow: hidden;
    object-fit: cover;
}
.component24Icon {
    position: absolute;
    top: 0px;
    left: 1408px;
    border-radius: 20px;
    width: 300px;
    height: 300px;
    overflow: hidden;
    object-fit: cover;
}
.component20Parent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1708px;
    height: 300px;
}
.component20Group {
    position: absolute;
    top: 360px;
    left: 7px;
    width: 1356px;
    height: 300px;
}
.groupParent2 {
    position: absolute;
    top: 335px;
    left: 0px;
    width: 1722px;
    height: 783px;
    overflow: hidden;
    opacity: 0.8;
}
.theGangMembersParent {
    width: 1722px;
    position: relative;
    height: 1118px;
}
.gangMembers {
    align-self: stretch;
    background-color: #000;
    height: 1326px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 104px 99px;
    box-sizing: border-box;
    gap: 10px;
    font-size: 96px;
    color: rgba(255, 255, 255, 0.5);
}
.gotSomethingOn {
    position: absolute;
    top: 172px;
    left: calc(50% - 884px);
    line-height: 140%;
    text-transform: uppercase;
    font-family: TacticSans-Blk;
    background: linear-gradient(89deg, #7ae0f5, #9f5efa);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.dontHesitateTo {
    position: absolute;
    top: 306px;
    left: calc(50% - 348px);
    font-size: 48px;
    line-height: 140%;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.5);
}
.name {
    align-self: stretch;
    position: relative;
    line-height: 140%;
}
.frameChild {
    width: 700px;
    position: relative;
    border-radius: 20px;
    border: 1px solid #fff;
    box-sizing: border-box;
    height: 69px;
    overflow: hidden;
    flex-shrink: 0;
}
.select {
    position: absolute;
    top: 17.09px;
    left: 60px;
    line-height: 140%;
}
.menuDownIcon {
    position: absolute;
    top: 10.09px;
    left: 611px;
    width: 48px;
    height: 48px;
    overflow: hidden;
}
.selectParent {
    width: 700px;
    position: relative;
    border-radius: 20px;
    border: 1px solid #fff;
    box-sizing: border-box;
    height: 69px;
    overflow: hidden;
    flex-shrink: 0;
    font-size: 24px;
}
.yourMessageHere {
    position: absolute;
    top: 10.09px;
    left: 13px;
    line-height: 140%;
}
.yourMessageHereWrapper {
    width: 700px;
    position: relative;
    border-radius: 20px;
    border: 1px solid #fff;
    box-sizing: border-box;
    height: 186px;
    overflow: hidden;
    flex-shrink: 0;
    font-size: 24px;
    color: #dadada;
}
.contactUs1 {
    position: absolute;
    top: 20.1px;
    left: 87.54px;
    line-height: 140%;
}
.component11 {
    width: 281.4px;
    position: relative;
    height: 78.2px;
    text-align: center;
    font-size: 27.92px;
}
.nameParent {
    position: absolute;
    top: 428px;
    left: 1046px;
    border-radius: 20px;
    border: 2px solid rgba(159, 94, 250, 0.8);
    box-sizing: border-box;
    width: 804px;
    height: 1073px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 142px 30px;
    gap: 15px;
    font-size: 32px;
}
.lineIcon {
    position: absolute;
    top: 11px;
    left: 0px;
    width: 0px;
    height: 239px;
    object-fit: contain;
}
.gotAnIdea {
    position: absolute;
    top: 11px;
    left: 14px;
    line-height: 140%;
}
.gotAProblem {
    position: absolute;
    top: 0px;
    left: 533px;
    line-height: 140%;
}
.wedAppreciateIt {
    position: absolute;
    top: 208px;
    left: 29px;
    font-size: 32px;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.7);
}
.gotAFeedback {
    position: absolute;
    top: 152px;
    left: 17px;
    line-height: 140%;
}
.wannaJoinUs {
    position: absolute;
    top: 170px;
    left: 460px;
    font-size: 48px;
    line-height: 140%;
}
.wannaImplementIt {
    position: absolute;
    top: 60px;
    left: 14px;
    font-size: 32px;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.7);
}
.wedLoveTo {
    position: absolute;
    top: 56px;
    left: 522px;
    font-size: 32px;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.7);
}
.justFillIn {
    position: absolute;
    top: 306px;
    left: 29px;
    font-size: 36px;
    line-height: 140%;
    text-align: center;
    display: inline-block;
    width: 808px;
}
.vectorParent {
    position: absolute;
    top: 470px;
    left: 101px;
    width: 837px;
    height: 406px;
    font-size: 40px;
}
.creativeColorBrushstrokeLet1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 86px;
    height: 86px;
    object-fit: cover;
    display: none;
}
.creativeColorBrushstrokeLetGroup {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 345px;
    height: 86px;
    font-size: 43.39px;
    font-family: TacticSans-Blk;
}
.whereCuriosityMeets {
    position: absolute;
    top: 57px;
    left: 90px;
    font-size: 16px;
    line-height: 140%;
    text-transform: capitalize;
}
.span {
    font-family: Poppins;
}
.presidencyUniversityItlagpurContainer {
    position: absolute;
    top: 285px;
    left: 79px;
    line-height: 140%;
    text-transform: capitalize;
}
.vikasanaprgmailcom {
    position: absolute;
    top: 222px;
    left: 79px;
    line-height: 140%;
    display: inline-block;
    width: 277px;
    height: 33px;
}
.vikasanatech {
    position: absolute;
    top: 139px;
    left: 79px;
    line-height: 140%;
}
.vectorIcon {
    position: absolute;
    height: 14.56%;
    width: 8.67%;
    top: 83%;
    right: 86.99%;
    bottom: 2.44%;
    left: 4.34%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.vectorIcon1 {
    position: absolute;
    height: 9.86%;
    width: 8.67%;
    top: 62.89%;
    right: 86.99%;
    bottom: 27.25%;
    left: 4.34%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.vectorIcon2 {
    position: absolute;
    height: 10.2%;
    width: 8.67%;
    top: 38.53%;
    right: 86.99%;
    bottom: 51.27%;
    left: 4.34%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.groupParent3 {
    position: absolute;
    top: 1153px;
    left: 57px;
    width: 415px;
    height: 353px;
    font-size: 24px;
}
.footerAndContact {
    align-self: stretch;
    position: relative;
    background-color: #000;
    height: 1546px;
    overflow: hidden;
    flex-shrink: 0;
    font-size: 96px;
}
.finalDesign {
    width: 100%;
    position: relative;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    font-size: 48px;
    color: #fff;
    font-family: 'Altone Trial';
}

